@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  /* Font properties */
  font-family: "Bebas Neue", cursive;
  font-size: 30px;

  /* Color definitions */
  --primary-default: #2596be;
  --light-grey: #d2cfd7;
  --dark-grey: #292b30;
}

body {
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  background-color: rgb(176, 72, 72);
}

h3 {
  letter-spacing: 2px;
  font-size: 1.2rem;
  margin: 20px 0px 10px 0px;
}

#page {
  width: 1000px;
  height: 1414.2px;
  margin: 50px;
  background-color: white;
  box-shadow: 0px 0px 50px 2px #00000035;

  padding: 50px;

  display: flex;
}

#left-column {
  flex-grow: 1;
}

#right-column {
  background-color: var(--light-grey);
  min-width: 550px;
}

.column {
  height: 100%;
}

.divider {
  width: 300px;
  height: 3px;
  background-color: var(--light-grey);
  position: relative;
  margin: 10px 0px 20px 0px;
}

.divider::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;

  width: 50px;
  height: 3px;
  background-color: var(--primary-default);
}
