.page {
  background-color: white;
  display: flex;
}

.page.preview {
  width: 1000px;
  height: 1414.2px;
  margin: 50px;
  box-shadow: 0px 0px 50px 2px #00000035;
}

.column.right {
  flex-grow: 1;
  padding-right: 0;
  padding-top: 0;
}

.column.left {
  background-color: var(--light-grey);
  width: 40%;
  border-radius: var(--radius-1);
  box-shadow: var(--shadow-1);
}

.column {
  height: 100%;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info-title {
  margin-bottom: 0.1em;
  font-weight: bold;
}
.contact-info-content {
  margin-bottom: 1em;
}

.technology {
  background: linear-gradient(
    45deg,
    var(--primary-light) 200%,
    var(--primary-default) 0%
  );
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 15px;
  border-radius: 100px;
  display: inline-block;
  font-size: 0.9em;
}

.experience-container {
  margin-bottom: 1em;
}

.experience-description {
  padding-left: 20px;
}
.experience-from-to {
  font-style: italic;
}
.experience-job-position {
  font-weight: bold;
}

.experience-job-position::after {
  content: " ";
}

.studies-title {
  font-weight: bold;
}
.studies-from-to {
  font-style: italic;
}
.studies-school {
  font-weight: bold;
}
.pb {
  background-color: var(--primary-light);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius-1);
  background-image: url("assets/pb.jpeg");
  background-size: cover;
  box-shadow: var(--shadow-1);
  margin-bottom: 10px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.projects-description {
  margin: 20px 0;
}

.faded {
  opacity: 0.75;
}

.summary-content {
  margin-bottom: 0;
}
